{% extends 'base.html' %}
{% block title %} Login {% endblock %}

{% block Content %}
    <body>
    <main>
        <section id="login" class="section">
            <br><br>
            <form class="logINForm" action="/Login" method="post">
                <h3 id="SignIn"> Sign In </h3>
                {% if message3 %}
                    <h4 style="color: #19335A">{{ message3 }}</h4>
                {% endif %}
                <p class="question"> NEW? <a href="/Register" style="text-decoration:none" class="question"> Create
                    an account</a></p>
                <div class="container">
                    <label for="email"><b class="register">User Email </b></label> <br>
                    <input type="email" placeholder="Enter your Email" name="email" id="email" required><br>
                    <label for="psw"><b class="register">Password</b></label><br>
                    <input type="password" placeholder="Enter Password" name="psw" id="psw" required><br>
                    <button class="logBtn" id="SignInSubmitButton" type="submit">Sign In</button>
                </div>
            </form>
            <br>
            <br>
            <br><br>
        </section>
    </main>

    </body>
{% endblock %}