{% extends 'Base.html' %}
{% block title %} About Us {% endblock %}

{% block Content %}
<body>
      <div class="aboutUS">
        <h1>About Us</h1>
        <p>WellnessLife was established in order to raise self-awareness for health, with our help you can test yourself and make sure that
            you are indeed within a healthy range, help you maintain a healthy lifestyle, and connect you if necessary with wide range of specialist professionals in the field.
            <br><br>
            Be a Better you.
        </p>
      </div>

    <h1 id= "ourTeamTitle">Our Team Members</h1>

    <div class="ourPicsContainer">
        <div class="cardsGroup">
          <img alt="hadar" src="../static/img/hadar.jpeg" class="ourPics">
          <div class="containerAbout">
            <h2 class="names">Hadar Alkobi</h2>
            <p class="title">CEO </p>
            <p> hadaralk@post.bgu.ac.il</p>
          </div>
        </div>

        <div class="cardsGroup">
            <img alt="ido" src="../static/img/ido.jpeg" class="ourPics">
            <div class="containerAbout">
              <h2 class="names">Ido Golan</h2>
              <p class="title">Head Nutritionist</p>
              <p>idogola@post.bgu.ac.il</p>
            </div>
          </div>

          <div class="cardsGroup">
            <img alt="ron" src="../static/img/hazan.jpeg" class="ourPics">
            <div class="containerAbout">
              <h2 class="names">Ron Hazan</h2>
              <p class="title">Head Of Relations</p>
              <p>ronhaza@post.bgu.ac.il</p>
            </div>
          </div>
    
          <div class="cardsGroup">
            <img alt="tal" src="../static/img/yellin.jpeg" class="ourPics">
            <div class="containerAbout">
              <h2 class="names">Tal Yellin</h2>
              <p class="title">Developer</p>
              <p>Talyel@post.bgu.ac.il</p>
            </div>
          </div>
        </div>
    </body>
{% endblock %}