{% extends 'Base.html' %}
{% block title %} Articles {% endblock %}

{% block Content %}
<body>
    <h1 id="HeaderArticles">Articles</h1>
    <h2>We invite you to expand your knowledge</h2><br>
    <div class="ArticlePageContainer">

        <div class="articlesContainers" id="article1">
            <img class="articlesImages" src="../static/img/Article1.jpg" alt="imgArticle1"><br>
            <a class="artLinks" href="https://www.nia.nih.gov/health/maintaining-healthy-weight">This is how you
                maintain healthy weight</a>
        </div><br>

        <div class="articlesContainers" id="article2">
            <img class="articlesImages" src="../static/img/Article2.jpg" alt="imgArticle2"><br>
            <a class="artLinks" href="https://www.webmd.com/healthy-aging/features/genes-or-lifestyle">Genes vs.
                Lifestyle: What <br> Matters Most for Health?</a>
        </div><br>

        <div class="articlesContainers" id="article3">
            <img class="articlesImages" src="../static/img/Article3.jpg" alt="imgArticle3"><br>
            <a class="artLinks"
                href="https://www.thelancet.com/journals/langas/article/PIIS2468-1253(21)00143-6/fulltext">Obesity:
                another ongoing pandemic</a>
        </div><br>

        <div class="articlesContainers" id="article4">
            <img class="articlesImages" src="../static/img/Article4.jpg" alt="imgArticle4"><br>
            <a class="artLinks" href="https://www.healthdirect.gov.au/what-to-do-if-you-are-underweight">What to do if
                you are underweight</a>
        </div><br>

        <div class="articlesContainers" id="article5">
            <img class="articlesImages" src="../static/img/Article5.jpg" alt="imgArticle5"><br>
            <a class="artLinks" href="https://flipbelt.com/blogs/flipbelt/tips-to-startgetting-in-shape">7 Tips to Start
                Getting in Shape</a>
        </div><br>

        <div class="articlesContainers" id="article6">
            <img class="articlesImages" src="../static/img/Article6.jpg" alt="imgArticle6"><br>
            <a class="artLinks" href="https://www.nerdfitness.com/blog/get-in-shape/">How to Get in Shape <br> Quickly
                and Safely</a>
        </div><br>
    </div>
</body>
{% endblock %}

