{% extends 'Base.html' %}
{% block title %} FAQ'S {% endblock %}

{% block Content %}
    <body>
    <h1 class="FAQ-heading">FAQ'S</h1>
    <button class="questions">What is "BetterHealth"?</button>
    <div class="answers">
        <p>BetterHealth was established in order to raise self-awareness for health, with our help you can test
            yourself
            and make sure that you are indeed in the health range, help you maintain a healthy
            lifestyle and connect you if necessary with wide range of specialist doctors in the field.</p>
    </div>

    <button class="questions">How does it work?</button>
    <div class="answers">
        <p>Go to one of our index calculation pages, enter the relevant details, and then you will get the results for
            the
            index you have
            chosen. after that, You will have the option of further clarification with our experts as you wish.</p>
    </div>

    <button class="questions">What is the advantage in the BMI?</button>
    <div class="answers">
        <p>BMI helps measure the obesity rate in people. Observing the changes in BMI values helps doctors evaluate the
            obesity
            levels in people over time. When the BMI of a significant population is
            calculated, it helps researchers gather data that can be used to examine the obesity epidemic.</p>
    </div>

    <button class="questions">What is the advantage in the BMR?</button>
    <div class="answers">
        <p> Your BMR helps the body burn calories. The other way you can burn calories is
            through movement and exercise. And, by monitoring what you eat and not consuming too many or too little
            calories,
            you can prevent unwanted weight gain and weight loss.</p>
    </div>

    <button class="questions">Which is better BMI or BMR?</button>
    <div class="answers">
        <p>Those with more muscle mass tend to burn more calories at rest because muscle tissue requires more calories
            to
            maintain
            than fat tissue. Although BMI and BMR are not directly related, if you have a high BMI because of a high
            body fat
            percentage,
            your BMR may be lower.</p>
    </div>

    </body>
{% endblock %}